<h1>Top 5's</h1>

<div class="topslist">
<%= render partial: 'lastviewedlist' %>  </div>
<div class="topslist">
<%= render partial: 'ingredientsusage' %> </div>
<div class="topslist">
<%= render partial: 'viewcount' %> </div>