/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

div.sitemenu ul {
  list-style: none
}

div.header {
  background-image: url("http://silviahartmann.com/background-tile-art/images/rosy-sky-watercolor.jpg");
  padding: 15px;
  color: white;
}

div.header h1 {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  font-size: 4em;
}

div.wrapper {
  background: linear-gradient(lightblue, white);
  padding: 15px;
}

body {
  margin: 0px;
}

ul.menu {
  background-color: black;
  margin: 0;
  list-style-type: none;
  padding: 5px 0;
}

ul.menu li {
    display: inline;
    padding: 0 15px;
}

ul.menu a {
  color: white;
}

div.topslist {
  float: left;
  margin: 25px;
}